{% include 'header.html' %}

<main>

    <h1 class="texto1">Info de los integrantes</h1>
    
    
    <h2>Quienes somos:</h2>
    <div class="containerNos">
        <div>
            <img src="https://picsum.photos/300/300?random=3" alt="LA">
            <h4>Lorena</h4>
        </div>
        <div>
            <img src="https://picsum.photos/300/300?random=2" alt="JE">
            <h4>Juanma</h4>
        </div>
        <div>
            <img src="https://picsum.photos/300/300?random=1" alt="AF">
            <h4>Alejandro</h4>
        </div>
       
    </div>
    <br>
    <h2>Donde estamos:</h2>
    <br>
    <div class="containerNos">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.8401830058083!2d-58.37288668763647!3d-34.60820257284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3352c95f0d4f5%3A0xee8dc0a5eb259e82!2sBalcarce%2050%2C%20C1064%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1711147802137!5m2!1ses-419!2sar" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <br>
    <br>
</main>

{% include 'footer.html' %}